        td table,
        table{
            width: 100%;
            height: 100%;
        }

        input {
            width: 100%;
        }

        html {
            background-color: black;
            /*color: white;*/
            font-size: 30px;
        }

        tr,
        td {
            border-color: white;
            border-style: solid;
            border-width: 2px;
            text-align: center;
        }
        /*,*/
        /*button ,*/
        /*form buttom,*/
        /*table buttom*/