<!DOCTYPE html>
<html style="width:100%;height:100%;" lang="en" ng-app="myApp">

<head>
    <!--insert css module-->
    <link rel="stylesheet" href="controller.css" type="text/css" />
    <!--insert Firebase module-->
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <!--insert Angular JS module-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!--insert Angular JS and Firebase module-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
    <!--insert Socket IO module-->
    <script src="/js/socket.io.js"></script>
    <!--insert MY controller module-->
    <script src="controller.js"></script>
</head>
<!--Initialize the Angular Controller-->

<body style="width:100%;height:100%;" ng-controller="PeopleController">

    <table id="whole_table">
        <tr>
            <!--Left Top Side-->
            <td style="width:50%;height:50%;">
                <form>
                    <table id="register_table" style="width: 100%;height: 100%;">
                        <tr hidden>
                            <!--User ID hidden field-->
                            <td>ID: </td>
                            <td>
                                <input type="text" id="register_id" name="id" value="" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <!--UserName input field-->
                            <td>UserName: </td>
                            <td>
                                <input type="text" id="register_username" name="username" onchange="CheckUserNameExist()" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <!--Full Name input field-->
                            <td>Full Name: </td>
                            <td>
                                <input type="text" id="register_name" name="name" onchange="CheckNameExist()" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <!--password input field-->
                            <td>Password: </td>
                            <td>
                                <input type="password" id="register_password" name="password" value="" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <!--Email Address input field-->
                            <td>Email Address: </td>
                            <td>
                                <input type="email" id="register_email" name="email" value="" onfocusout="checkVaildEmailOnchange()" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <!--Age input field-->
                            <td>Age: </td>
                            <td>
                                <input type="number" id="register_age" name="age" min="5" max="100" onkeyup="ageVaild()" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="generate_button" style="background-color:silver;width: 100%;height: 100%;" onclick="generateOnclick()">Generate</div>
                            </td>
                            <td>
                                <!--Customer Register-->
                                <div style="background-color:silver;width: 100%;height: 100%;" onclick="registerOnclick()">Register</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="background-color:silver;width: 100%;height: 100%;" onclick="clearRegisterData()">Clear</div>
                            </td>
                            <td>
                                <div style="background-color:silver;width: 100%;height: 100%;" onclick="generateOnclick();registerOnclick();">Auto Register</div>
                            </td>
                        </tr>
                    </table>
                </form>

            </td>
            <!--Right Top Side-->
            <td style="width:50%;height:50%;">

                <div id="user_count">User Count : {{user_count}}</div><br>
                <!--Alert Average Age Content-->
                <div id="average_age" hidden>Average Age : {{average_age}}</div><br>
                <!--Alert Average Age Button-->
                <button onclick="alert(document.getElementById('average_age').innerHTML);">Show Average Age.</button>

            </td>
        </tr>
        <tr>
            <!--Left Bottom Side-->
            <td style="width:50%;height:50%;">

                Age range: {{age_range}}
                <!--Synchronized Age Number Input Box-->
                <input type="number" id="age_number" ng-model="age_range" onkeyup="setAgeRange()" min="1" max="100" />
                <!--Synchronized Age Slider-->
                <input type="range" id="age_range" ng-change="ng_UpdateAverageAge()" ng-model="age_range" readonly="true" min="1" max="100" value="100" />
                <!--onchange="console.clear()"-->


                <br> Sorting

                <!--Sorting Select Option List-->
                <select ng-model="orderBy">
                    <option value="username">Sort By UserName</option>
                    <option value="name">Sort By Full Name</option>
                    <option value="age">Sort By Age</option>
                </select>
            </td>
            <!--Right Bottom Side-->
            <td style="width:50%;height:50%;min-width:0;min-height:0;">
                <div id="display_all_user" style="width:100%;height:100%;overflow:scroll;font-size: 20px;">
                    <!--The Table to Show the Registered Customers-->
                    <table>
                        <tr>
                            <td>Username</td>
                            <td>Full Name</td>
                            <td>Age</td>
                        </tr>
                        <tr ng-repeat="customer in customers | orderBy:orderBy" ng-if="customer.age < age_range">
                            <td class="tb_username">{{customer.username}}</td>
                            <td class="tb_name">{{customer.name}}</td>
                            <td class="tb_age">{{customer.age}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <!--insert My function module-->
    <script src="function.js"></script>
</body>

</html>
